<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/login_style.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="Login">
  <div class="lg_body">
    <div class="lg_form">
      <form action="/login" method="post">
        <div class="p_logo">
          <img src="/img/passport-logo.png" alt="passport-logo.png" />
        </div>

        <div class="label">
          <label for="nid_bc_no">NID/Birth Certificate Number:</label>
        </div>
        <div class="input-field">
          <input
            id="nid_bc_no"
            name="nid_bc_no"
            type="text"
            required
          />
          <p class="error">Error message for nid_bc_no</p>
        </div>

        <div class="label">
          <label for="password">Password:</label>
        </div>
        <div class="input-field">
          <input
            id="password"
            name="password"
            type="password"
            required
          />
          <p class="error">Error message for password</p>
        </div>

        <div class="forget_password">
          <a href="#">Forget Password?</a>
        </div>

        <div class="label">
          <label for="captcha">CAPTCHA</label>
        </div>
        <div class="captcha_field">
          <div
            class="g-recaptcha"
            data-sitekey="6LdaqsApAAAAAC80kJJZ-poxgKEFCYESm5XWMUVS"
          ></div>
        </div>

        <div class="login_btn">
          <button class="login-btn glass-button" type="submit">Login</button>
        </div>

        <div class="register_ac_link">
          <p>Don't have an account? </p>
          <a href="/signup">
            <button class="register-btn glass-button">Register Account</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
