<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/signup_style.css">
</head>
<body>

<div class="Signup">
  <div class="signup_body">
    <div class="signup_body_container">
      <div class="left_side">
        <img src="" alt="" />
      </div>
      <div class="right_side">
        <form action="/signup" method="post">
          <div class="p_logo">
            <img src="/img/passport-logo.png" alt="passport-logo.png" />
          </div>
          <div class="label">
            <label for="nid_bc_no">NID/Birth Certificate Number:</label>
          </div>
          <div class="input-field">
            <input
              name="nid_bc_no"
              type="text"
              required
              placeholder="Enter your NID/Birth Certificate Number"
            />
          </div>
          <div class="label">
            <label for="email">Email:</label>
          </div>
          <div class="input-field">
            <input
              name="email"
              type="email"
              required
              placeholder="Enter your Email"
            />
          </div>
          <div class="label">
            <label for="phone_no">Phone no:</label>
          </div>
          <div class="input-field">
            <input
              name="phone_no"
              type="text"
              required
              placeholder="Enter your Phone no."
            />
          </div>
          <div class="label">
            <label for="password">Password:</label>
          </div>
          <div class="input-field">
            <input
              name="password"
              type="password"
              required
              placeholder="Enter your password"
            />
          </div>
          <div class="label">
            <label for="confirmPassword">Confirm Password:</label>
          </div>
          <div class="input-field">
            <input
              name="confirmPassword"
              type="password"
              required
              placeholder="Enter your Confirm Password"
            />
          </div>
          <div class="signup_btn">
            <button type="submit" class="signup-btn">
              Sign Up
            </button>
          </div>
          <div class="login_ac_link">
            <p>If you have an account? </p>
            <a class="glass-button" href="/Login">Login Here</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
