

.body{
    padding-top: 90px;
}

.form_container{
    height: 580px;  
}

#country_code{
    width: 50px;
}

#phone_no{
    width: 200px;
    margin-left: 0px;
}

.form_field table tr td input{
    width: 250px;
}

.form_field table tr td select{
    width: 250px;
}