.lg_body {
  height: 80vh;
  padding-top: 175px;
}

.lg_form {
  width: 500px;
  height: 580px;
  border-radius: 30px;
  background-image: linear-gradient(#34495e, #2ecc71);
  margin: 0 auto;
  text-align: center;
}

.p_logo {
  margin-bottom: 30px;
}

.p_logo img {
  margin-top: 20px;
  width: 100px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
  color: #41d6a9;
  margin-top: 20px;
  margin-bottom: 5px;
}

.input-field input {
  width: 430px;
  height: 32px;
  border-radius: 20px;
  background-size: 8px;
  color: #333333;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.input-field input:focus {
  border-color: #7affd7;
  background-color: #f0f0f0;
}

.forget_password {
  text-align: right;
  margin-top: 10px;
  margin-right: 50px;
}

.forget_password a {
  font-size: 13px;
  color: #8afcda;
  transition: color 0.3s ease;
}

.forget_password a:hover {
  color: #7affd7;
}

.captcha_field {
  margin-left: 42px;
  margin-top: 10px;
}

.login_btn {
  margin: 20px 0px;
}

.login_btn button {
  width: 180px;
  height: 30px;
  border-radius: 20px;
  color: white;
  background-color: #2ecc71;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.login_btn button:hover {
  background-color: #29c768;
}

.register_ac_link {
  margin-top: 25px;
  font-size: 14px;
}

.register_ac_link a {
  text-decoration: none;
  color: #8afcda;
  font-weight: bold;
  transition: color 0.3s ease;
}

.register_ac_link a:hover {
  color: #39f6bd;
}

.register_ac_link p {
  display: inline;
}
